<?xml version="1.0"?>
<launch>

    <include file="$(find luminous_description)/launch/spawn.launch" />
    
    <node pkg="gmapping" type="slam_gmapping" name="gmapping_thing" output="screen">
        <param name="base_frame" value="base_footprint" />
        <param name="map_frame" value="map" />
        <param name="transform_publish_period" value="0" />
        <param name="delta" value="0.025"/>
    
      </node>
    

</launch>  