<?xml version="1.0" encoding="utf-8"?>

<robot name="luminous" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename='$(find luminous_description)/urdf/luminous_description.xacro'/>
    <xacro:include filename='$(find luminous_description)/urdf/plugins.gazebo'/>
    <xacro:luminous_description/>

</robot>